<!-- this page is where people will go to get deatils about a single picture
-->
<!doctype html>

{% if name != -1 %}
  <p> <strong> <a href='/logout'>Log out!</a> </strong> </p>
{% else %}
  <p> <strong> <a href='/login'>Log In!</a> </strong> </p>
{% endif %}

<p> <a href='/'>Home</a> </p>


<!--
    imgdata     0
    user_id     1
    picture_id  2
    caption     3
    albumID     4
    album_title 5
    firstname   6
    lastname    7
    numlikes    8
    tags        9
-->

<h1>Picture Detail</h1>
<img src='data:image/jpg;base64,{{ base64.b64encode(photo[0]).decode("ascii") }}'  style="width:40%; height:40%"/>
<h1>Caption: {{ photo[3] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Taken By: {{ photo[6]}} {{photo[7]}}</h1>
<h1>From Album: {{ photo[5] }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Number of Likes: {{ photo[8] }}</h1>


{% if tags %}
<h2>Tags:</h2>
  <ul>
    {% for sing_tag in tags %}
      <li><a href="{{ url_for('tags', singleword = sing_tag[0]) }}">{{ sing_tag[0] }}</a></li>
    {% endfor %}
  </ul>
{% else %}
<h2>Tags:</h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; no tags
{% endif %}

{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

</h1> 

<!--
  if this is the users picture, show delete button
  else, show like button
-->
{% if name %}
  {% if name == photo[1] %}
    <h1> <button><a href="{{ url_for('deletepicture', uid=name, picture_id=photo[2]) }}">delete</a></button> </h1>
  {% else %}
    <h1> <button><a href="{{ url_for('like', photo=photo[2]) }}">Like!</a></button> </h1>
  {% endif %}
{% endif %}

<!--
    comment_text, photo_id, first_name, last_name
-->

{% if comments %}
<h2>Comments:!</h2>
  <ul>
    {% for comment in comments %}
      <li><h5>{{comment[2]}}&nbsp;{{comment[3]}}&nbsp;commented:</h5> &nbsp;{{ comment[0] }}</li>
    {% endfor %}
  </ul>
{% else %}
<h2>Comments:</h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; no comments<br>
{% endif %}


{% if name != photo[1] %}
    <br><br>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('comment', picture_id=photo[2]) }}">
      <label for="Comment">Leave a Comment:</label>
      <input type="text" name="comment" required='true' style="width: 500px; height: 50px;" /><br />
      <input type="submit" value="comment" />
    </form>
{% endif %}